
<?xml version="1.0"?>
 <configuration>
   <configSections>
 <section name="log4net"
		  type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
		
	</configSections>
   <log4net>
	   <root>
	     <level value="ALL"/>
		     <appender-ref ref="AdoNetAppender" />
		
		</root>
	     <appender name="FileAppender"
           type="log4net.appender.FileAppender">...</appender>
		    <appender name="AdoNetAppender"
         type="log4net.Appender.AdoNetAppender">...</appender>
	</log4net>

</configuration>